.dashboard-container {
  background: lightgrey;
  padding: 1rem;
}

.charts-container {
  display: flex;
  width: calc(100%-2rem);
  height: 80vh;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.charts-container .chart-card {
  width:49%;
  background: white;
  max-height: 100%;
}

.chart-card h3{
    padding: 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
}

.table-container{
    background: white;
}

.header{
  position: sticky;
    top: 0;
    z-index: 1;
    background: yellow;
}

.nav{
  display: flex;
  flex-direction: column;
  height: 600px;
}

a{
  background: honeydew;
}

a.selected{
  background: green;
}